---
layout: default
---

<div class="page-content slider">
  {% for post in site.posts limit:5 %}
    <article class="slide">
      {% if post.cover_image %}
      <figure class="post-cover">
        <img src="{{ post.cover_image }}" alt="{{ post.title }}">
      </figure>
      {% endif %}
      <section class="slide-content" data-grid="center">
        <div class="wrapper">
          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
            {% for c in post.categories %}<span data-label="">{{ c }}</span> {% endfor %}
          </span>
          <h2 class="post-title">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 25, '...' }}</p>
        </div>
      </section>
    </article>
  {% endfor %}
</div>

<script>
var vw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
var vh = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
if (vw > 600 && vh > 600) {

  document.body.classList.add('home-slider');

  window.onload = function () {

    var addScript = function (src, callback) {
      var s = document.createElement('script');
      s.setAttribute('src', src);
      s.onload = callback;
      document.body.appendChild(s);
    };

    var createElement = function (el, attrs) {
      var newElem = document.createElement(el);
      if (attrs) {
        for (name in attrs) {
          val = attrs[name];
          newElem[name] = val;
        }
      }
      return newElem;
    };

    var createButton = function (attrs, btnAction) {
      var newButton = createElement('button', attrs);
      if (typeof btnAction === 'function') {
        newButton.addEventListener('click', function () {
          btnAction(this);
        });
      }
      return newButton;
    };

    addScript('{{ site.baseurl }}/js/slider.js', function () {
      var posts = Slider({
          duration: 5000
        })
        .on('mouseover', function () {
          posts.pause();
        })
        .on('mouseout', function () {
          posts.play();
        })
        .play();

      var controlsbottom = document.querySelector('.site-footer').offsetHeight + 'px';
      var controls = createElement('div', {
        'className': 'slider-controls'
      });
      controls.setAttribute('data-grid', 'justify');
      controls.style.bottom = controlsbottom;
      controls.appendChild(createButton({
        className: 'slider-control prev',
        title: 'VOLTAR',
        innerHTML: '{% include btn-prev.svg %}'
      }, function () {
        posts.prev();
      }));
      controls.appendChild(createButton({
        className: 'slider-control next',
        title: 'AVANÇAR',
        innerHTML: '{% include btn-next.svg %}'
      }, function () {
        posts.next();
      }));
      posts.parent.appendChild(controls);
    });

  }

}
</script>
