<footer class="site-footer">

  <div class="wrapper">

    <div data-grid="spacing">

      <div data-cell="2of3">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <p>
          {{ site.description }} 
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Assine o feed</a>
        </p>
      </div>

      <ul class="seamless" data-cell="shrink fill">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>

    </div>

  </div>

</footer>
