.site-header
    min-height: 56px
    a
        color: $grey-color

.site-title
    font-size: 26px
    font-weight: 300
    line-height: 56px
    letter-spacing: -1px
    margin-bottom: 0
    float: left

.site-nav
    float: right
    line-height: 56px
    .menu-icon
        display: none

    .page-link
        line-height: $base-line-height
        margin-left: 20px

    @include media-query($on-palm)
        position: absolute
        top: 9px
        right: $spacing-unit / 2
        border-radius: 5px
        text-align: right
        transition: .6s ease-in-out
        .menu-icon
            display: block
            float: right
            width: 36px
            height: 36px
            line-height: 0
            padding-top: 10px
            text-align: center
            >svg
                width: 18px
                height: 18px

        .trigger
            clear: both
            display: none
            opacity: 0
            transition: 1s ease-in-out

        &:hover
            padding: 10px
            background-color: $background-color
            .trigger
                display: block
                padding-bottom: 5px
                opacity: 1

        .page-link
            display: block
            padding: 5px 10px
            &:not(:last-child)
                margin-right: 0

            margin-left: 20px

.site-footer
    padding: $spacing-unit 0
    a
        color: $grey-color

.footer-heading
    font-size: 18px
    margin-bottom: $spacing-unit / 2

.page-content
    padding-top: $spacing-unit * 2
    padding-bottom: $spacing-unit * 2

.hero
    background-color: $brand-color
    background-image: radial-gradient(ellipse at bottom, rgba(#fff, .3), rgba(black, .3))
    padding-top: $spacing-unit * 4
    padding-bottom: $spacing-unit * 4

    +media-query($on-palm)
        padding-top: $spacing-unit * 2
        padding-bottom: $spacing-unit * 2

    &.dark
        background-color: $grey-color-dark
    
    &.light
        background-color: $brand-color-light
        a:not([data-btn])
            color: $link-color

    &.blue
        background-color: $grey-color-light
        a:not([data-btn])
            color: $link-color

.page-heading
    font-size: 20px

.post-meta
    font-size: $small-font-size
    color: $grey-color

.post-link
    display: block
    font-size: 24px

.post-header
    margin-bottom: $spacing-unit

.post-title
    font-size: 42px
    letter-spacing: -1px
    line-height: 1
    @include media-query($on-laptop)
        font-size: 36px

.post-content
    margin-bottom: $spacing-unit

+media-greater($on-palm)
    .home-slider
        %fullscreen
            position: fixed
            top: 0
            left: 0
            right: 0
            bottom: 0
        .site-header, .site-footer
            @extend %fullscreen
            z-index: 999
        .site-header
            bottom: auto
        .site-footer
            top: auto
        .slider
            @extend %fullscreen
            .slide
                @extend %fullscreen
                z-index: 9
                opacity: 0
                .post-cover
                    @extend %fullscreen
                    z-index: -1
                    background-color: $background-color
                    img
                        max-width: initial
                        min-width: 100%
                        min-height: 100%
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        opacity: .1
                &.prev, &.next, &.current
                    transition: .5s ease-in-out
                &.prev, &.next
                    z-index: 9
                    opacity: 0
                &.prev
                    transform: translate(-100%)
                &.next
                    transform: translate(100%)
                &.current
                    z-index: 99
                    opacity: 1